table{
    box-shadow: 10px 10px 10px 10px black;
}
td,th {
            width: 10px;
            height: 10px;
            padding:1px;
            border: 1px solid black;
            text-align: left;
            white-space: nowrap;
}

        
       