
.main{
    width: 90%;
    height: 15%;
    margin: 0 5% 0 5%;
    background: orange;
    border-radius: 0 0 10px 10px;
    display: block;
}
.sidenav{
    height: 600px;
    width: 10%; 
    position: fixed;
    top: 20%;
    bottom: 20%; 
    background-color: #111; 
    padding-top: 20px;
    opacity: 0.5;
}
.sidenav a {
    padding: 10px 20px ;
    font-size: 25px;
    color: chartreuse;
    display: block;
}
.bottom{
    width: 90%;
    height: 15%;
    margin: 0 5% 0 5%;
    padding: 0 8px;
    background: orange;
    border-radius: 10px 10px 0 0;
    display: block;
}